
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Добро пожаловать в Админ-Панель</h1>
        
	</div>


    <div class="d-flex align-items-start">
        <form method="post" enctype="multipart/form-data">
            <h3><input type="text" name="pet_name" placeholder="Имя"></h3>
                <p><input type="text" name="h_old" placeholder="Возраст"></p>
                <input type="file" name="img">
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            <br><br><br>
        </form>
    </div>


</main>
