<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Homie</title>
</head>
<body>
    <div class="wrap">
        <div class="top">
            <a class="zati4ka" href="{{ url_for('admin_auth') }}"><img src="{{ url_for('static', filename='logo.png') }}" alt="" class="logo"></a>
            <ul>
                <li>Главная</li>
                <li href="">Животные</li>
                <li href="">Контакты</li>
                <li href="">О нас</li>
            </ul>
        </div>
        <div class="carousel"></div>
        <div class="short_inf">
            <h1>Тут какой-нибудь текст</h1>
            <p class="shrt_inf">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit blanditiis vitae iure culpa minima dolorum aliquid vero, pariatur corporis non voluptatibus facere est accusantium amet quod perspiciatis id excepturi cum delectus animi eaque nesciunt ut possimus dolor. Ad, sunt numquam repudiandae magnam ipsa amet culpa hic, excepturi, maxime asperiores delectus?</p>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>